* {
    margin: 0;
    padding: 0;
}

html, body {
    overflow-x: hidden;
}

#image{
    width: 200px;
    height: 225px;
}

.bgColor{
    transition: 10s;
   background: linear-gradient(
       rgba(12, 12, 12, 0.999),
       rgba(26, 103, 147, 0.833)
   );
   border-bottom: 1px solid white;
}

h2 {
    text-decoration-color: blue;
}